html{
    box-sizing: border-box;
    font-family: 'Karla';
    font-size: 16px;
    font-weight: 400;
}
body{
    padding: 20px;
}
*,*::before,*:after{
    box-sizing: inherit;
}
h2,h4,p{
    margin: 0px;
}
#card{
    width: 600px;
    height: 400px;
    box-shadow:2px 3px 7px 0px rgba(0,0,0,0.35) ;
    border-radius: 5px;
    overflow: hidden;
    
}
#top-section{
    width: 100%;
    height: 45%;
    padding: 25px;
}
#bottom-section{
    
    width: 100%;
    height: 55%;
    color: white;
      
}
#left{
    vertical-align: top;
    display: inline-block;
     width: 50%;
    height: 100%;
    padding: 25px;
    background-color: #2ab2af;  
}
#right{
    vertical-align: top;
    display: inline-block;
     width: 50%;
    height: 100%;
    background-color:#2EBFBD ; 
    padding: 25px; 
     
}
#top-section h2{
    color: #2ab2af;
    margin-bottom: 15px;
}
#top-section h4{
    color: #c0df34;
    margin-bottom: 10px;
}
#top-section p{
    color: #98a6bd;
}
button{
    color: white;
    background-color: #c0df34;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;

}
#price{
    font-weight: 700;
    font-size: 1.4rem;
}
#left h4{
    margin-bottom: 25px;

}
#left p{
    font-size: 0.9rem;
    margin-bottom: 40px;

}
#price-frequency,#price{
    display: inline-block;
}
#price-frequency{
    position:relative;
    top: -3px;
    font-size: 0.8rem;
    opacity: 0.7;
    margin-left: 5px;
}
#price-container{
    margin-bottom: 10px;
}
ul{
    padding: 0px;
    list-style: none;
    font-size: 0.8rem;
    opacity: 0.7;
}
button:hover{
    cursor: pointer;
    background-color:#A9C42D;
    transform: scale(1.02);

}

